numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers==4.49.0
timm==1.0.15
decord==0.6.0
librosa==0.8.1
opencv-python-headless
pytorchvideo==0.1.5
pillow==10.4.0
omegaconf==2.3.0
webdataset==0.2.100
iopath==0.1.10
einops==0.8.0
scikit-learn==1.5.2
tqdm==4.66.5
matplotlib==3.9.2
regex==2024.9.11
zhon==2.1.1
openai==1.51.2
huggingface_hub
accelerate==1.0.0
safetensors==0.4.5
sentencepiece==0.2.0
peft==0.13.2
fairscale==0.4.13
ftfy==6.3.1
fvcore==0.1.5.post20221221
soundfile==0.12.1
mediapipe==0.10.9
